@model KerryDPeay_Blog.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "ConfirmationSent";
}

<h2>ConfirmationSent</h2>

<body>
    <div class="row h1">Thank you for confirming your email</div>
</body>

