<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/737136b4-a03e-460a-a2c9-b4cefe62cedf/resourcegroups/Blog/providers/Microsoft.Web/sites/kerrydpblog</ResourceId>
    <ResourceGroup>Blog</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://kerrydpblog.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>kerrydpblog.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>kerrydpblog</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$kerrydpblog</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:dp8.database.windows.net,1433;Initial Catalog=kerrydp8Blog;Persist Security Info=False;User ID=kerrydp8;Password=Wiiugamer12;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:dp8.database.windows.net,1433;Initial Catalog=kerrydp8Blog;Persist Security Info=False;User ID=kerrydp8;Password=Wiiugamer12;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="KerryDPeay_Blog.Models.ApplicationDbContext, KerryDPeay_Blog" MigrationConfiguration="KerryDPeay_Blog.Migrations.Configuration, KerryDPeay_Blog" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dp8.database.windows.net,1433;Initial Catalog=kerrydp8Blog;Persist Security Info=False;User ID=kerrydp8;Password=Wiiugamer12;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>